@charset "UTF-8";
@font-face {
	font-family: "Montserrat-Black";
	src: url("../fonts//Montserrat-Black.eot");
	src: local("☺"), url("../fonts//Montserrat-Black.woff") format("woff"), url("../fonts//Montserrat-Black.ttf") format("truetype"), url("../fonts//Montserrat-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts//Montserrat-Bold.eot");
	src: local("☺"), url("../fonts//Montserrat-Bold.woff") format("woff"), url("../fonts//Montserrat-Bold.ttf") format("truetype"), url("../fonts//Montserrat-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-ExtraBold";
	src: url("../fonts//Montserrat-ExtraBold.eot");
	src: local("☺"), url("../fonts//Montserrat-ExtraBold.woff") format("woff"), url("../fonts//Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts//Montserrat-ExtraBold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-Medium";
	src: url("../fonts//Montserrat-Medium.eot");
	src: local("☺"), url("../fonts//Montserrat-Medium.woff") format("woff"), url("../fonts//Montserrat-Medium.ttf") format("truetype"), url("../fonts//Montserrat-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Montserrat-Medium";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Montserrat-Medium";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
		padding: 0 10px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
		padding: 0 10px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}



.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2;
}

.header__body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 140px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
}

.header__logo {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 60px;
	        flex: 0 0 60px;
	overflow: hidden;
	position: relative;
	z-index: 3;
	font-family: "Montserrat-Black";
	color: #000000;
	font-size: 28px;
	line-height: 62px;
}
.header__logo span {
	color: #5abb33;
}

.header__logo img {
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
}

.header__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	list-style: none;
	margin: 0px 0px 0px 20px;
}

.header__link {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.menu__link {
	font-size: 18px;
}
.menu__link:hover {
	color: #5abb33;
}

.menu__link:visited {
	color: #000;
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 40px;
		        flex: 0 0 40px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger span {
		position: absolute;
		background-color: #000;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active span {
		-webkit-transform: scale(0);
		    -ms-transform: scale(0);
		        transform: scale(0);
	}

	.header__burger.active:before {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 70px 10px 20px 10px;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 24px;
	}
}

.product {
	padding: 153px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.product__information_title {
	margin-top: 91px;
	font-family: "Montserrat-ExtraBold";
	font-size: 48px;
	line-height: 62px;
}
.product__information_text {
	margin-top: 37px;
	font-family: "Montserrat-Medium";
	font-size: 20px;
	padding-right: 46px;
	margin-bottom: 39px;
	line-height: 34px;
}
.product__img-juice {
	max-width: 100%;
	margin-top: 10px;
}

@media (max-width: 1070px) {
	.product {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

@media (max-width: 767px) {
	.product {
		padding: 70px 0px 0px 0px;
	}
}

@media (max-width: 1070px) and (max-width: 400px) {
	.product__information_title {
		font-size: 30px;
		line-height: 30px;
	}

	.product__information_text {
		line-height: 30px;
		margin-top: 10px;
	}
}
@media (max-width: 1070px) and (max-width: 1070px) {
	.product__information {
		max-width: 100%;
		max-height: 600px;
	}

	.product__img-juice {
		max-width: 100%;
		position: fixed;
		top: 20%;
		left: 50%;
		z-index: -3;
	}
}
@media (max-width: 750px) {
	.product__img-juice {
		top: 20%;
		left: 0%;
	}
}
.charge-btn {
	color: #000000;
	font-family: "Montserrat-Bold";
	font-weight: 700;
	font-size: 24px;
	line-height: 62px;
	padding: 22px 34px 21px 36px;
	border-radius: 33px;
	background-color: #fadb60;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ffcc00), to(#fadb60));
	background-image: -o-linear-gradient(bottom, #ffcc00 0%, #fadb60 100%);
	background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);
}
.charge-btn:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0f), to(#ffcf));
	background-image: -o-linear-gradient(bottom, #ff0f 0%, #ffcf 100%);
	background-image: linear-gradient(to top, #ff0f 0%, #ffcf 100%);
	color: #5abb33;
}

.socials {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 23px;
	height: 23px;
	margin: 0px 33px 76px 0px;
}
.socials li {
	padding: 10px 10px 10px 10px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 23px;
}
.socials li:hover {
	border: 2px solid black;
}

@media (max-width: 1070px) {
	.socials {
		margin: 50px 0 20px 0;
	}
}

footer {
	background-color: #232323;
}

.footer__row {
	height: 114px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	font-size: 16px;
	line-height: 34px;
	color: #ffffff;
}
.footer__row span {
	color: #fada5a;
}